/* 
REFERENCES:

Color Pallete: https://colorhunt.co/palette/fdefeff4dfd0dad0c2cdbba7

*/


/* CONSTANTS */

:root{
    --box-width: 350px;
    --box-height: 250px;
	--vid-width: 500px;
	--vid-height: 350px;
	--past-vid-width: 700px;
	--past-vid-height: 400px;
}


/* GENERAL STYLES */
.hide{
	display: block;	
}

*{
	margin: 0;
}

body{
    background-color: #F4DFD0;
}

::-webkit-scrollbar {
	width:5px;
}

::-webkit-scrollbar-track{
	border-radius: 15px;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background-color: #1B1B2F;
}

.section-pad{
    padding: 2.5rem 0 0 0;
}


/* NAVIGATION BAR STYLES */

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0.2rem;
    z-index: 10000;
}

.navbar-custom{
    background-color: #F4DFD0;
}


/* BANNER STYLES */

#big-picture{
	background-image: url('https://i.postimg.cc/CLFsXbvX/DSC02951.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 100vh;
}


/* CAROUSEL STYLES */

/* #button{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2% 0%;
	border: none;
	color: white;
	cursor: pointer;
} */

#photoCarousel{
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
	align-items: center;
}

.horizontal-block{
	transform: scale(0.80);
	border: 5px solid #3C2C3E;
	border-radius:10px;
}

.vertical-block{
	transform: scale(0.80);
	border: 5px solid #3C2C3E;
	border-radius:10px;
}

.horizontal-container{
	width:55rem;
	height:auto;
}

.vertical-container{
	width: 30rem;
	height: auto;
}

.carousel-control-next .carousel-control-prev{
	color: black;
}

/* PHOTO BLOCKS STYLES */

.sections{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boxesT{
    width: var(--box-width);
    height: var(--box-height);
    background-color: #F1DDBF;
    border-radius:10px;
    border: 3px solid #3C2C3E;
    margin: 0.5% 2% 1.5% 2%;
    display:flex;
    justify-content:center;
    align-content: center;
    transition: transform 500ms ease-in-out 25ms;
}

.boxesT:hover{
    transform: scale(1.4,1.4);
}

.image{
    width: 95%;
    height:95%;
    border-radius:10px;
    margin-top:1.5%;
}

/* VIDEOS */

.videos{
	width: var(--vid-width);
	height: var(--vid-height);
	border-radius:10px;
	border: 3px solid black;
	margin: 0.5% 2% 1.5% 2%;
}


/* RELATIVES */
#text{
	font-size: 4em;
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	padding: 1% 5%;
}


/* PAST VIDEOS */

.past-videos-block{
	width: var(--past-vid-width);
	height: var(--past-vid-height);
	border-radius:10px;
	border: 3px solid black;
	margin: 0.5% 2% 1.5% 2%;
}


/* FOOTER */

.footer-text{
	font-size: 0.85em;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0%;
	text-align: center;
}


/* SCREEN SIZE STYLES */

@media only screen and (min-width:874px) and (max-width:1449px){
	#big-picture{
		height:80vh;
	}
	.container{
		width:75%;
	}

	.boxesT:hover{
		transform: scale(1.3,1.3);
	}
}

@media only screen and (min-width: 542px) and (max-width:874px){
	#big-picture{
		height:50vh;
	}

	.container{
		width:75%;
	}

	.boxesT:hover{
		transform: scale(1.25,1.25);
	}

}

@media only screen and (min-width:280px) and (max-width: 542px){
	#big-picture{
		height:25vh;
	}

	.container{
		width:75%;
	}

	.boxesT{
		width: 200px;
		height: 150px;
	}

	.boxesT:hover{
		transform: scale(1.2,1.2);
	}
}

@media only screen and (max-width:280px){
	#big-picture{
		height:15vh;
	}
	
	.container{
		width:75%;
	}

	.boxesT{
		width: 150px;
		height: 100px;
	}

	.boxesT:hover{
		transform: scale(1,1);
	}
}

