/* 
REFERENCES:

Color Pallete: https://colorhunt.co/palette/fdefeff4dfd0dad0c2cdbba7

*/

/* MAIN ID'S */
#family #relatives #teachers{
	display: none;	
}



/* GENERAL STYLES */
*{
	margin: 0;
}

body{
    background-color: #F4DFD0;
}

::-webkit-scrollbar {
	width:5px;
}

::-webkit-scrollbar-track{
	border-radius: 15px;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background-color: darkgray;
}

::-webkit-scrollbar-thumb:hover{
	background-color: gray;
}

.section-pad{
    padding: 3rem 0 0 0;
}


/* NAVIGATION BAR STYLES */

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0.2rem;
    z-index: 10000;
}

.navbar-custom{
    background-color: #F4DFD0;
}


/* BANNER STYLES */

#big-picture{
	background-image: url('https://i.postimg.cc/T10Mf7Ps/IMG-1485.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 100vh;
}


/* CAROUSEL STYLES */

.container{
	width: 50rem;
	height:auto;
}

.carousel-images{
	width: 50rem;
	height: auto;
}


/* PHOTO BLOCKS STYLES */

:root{
    --box-width: 350px;
    --box-height: 250px;
}

#sections{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boxesT{
    width: var(--box-width);
    height: var(--box-height);
    background-color: #F1DDBF;
    border-radius:10px;
    border: 3px solid #3C2C3E;
    margin: 0.5% 2% 1.5% 2%;
    display:flex;
    justify-content:center;
    align-content: center;
    transition: transform 500ms ease-in-out 25ms;
}

.boxesT:hover{
    transform: scale(1.4,1.4);
}

.image{
    width: 95%;
    height:95%;
    border-radius:10px;
    margin-top:1.5%;
}



/* FOOTER */

.footer-text{
	font-size: 0.85em;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0%;
	text-align: center;
}


/* SCREEN SIZE STYLES */

@media only screen and (min-width:874px) and (max-width:1449px){
	#big-picture{
		height:80vh;
	}
	.container{
		width:75%;
	}
}

@media only screen and (min-width: 542px) and (max-width:874px){
	#big-picture{
		height:50vh;
	}

	.container{
		width:75%;
	}

	#text{
		font-size:2.5em
	}

}

@media only screen and (min-width:280px) and (max-width: 542px){
	#big-picture{
		height:25vh;
	}

	#text{
		font-size: 2.15em;
	}
	
	.container{
		width:75%;
	}

	.message{
		font-size:0.75em;
	}
}

@media only screen and (max-width:280px){
	#big-picture{
		height:15vh;
	}

	#text{
		font-size: 1em;
	}
	
	.container{
		width:75%;
	}

	.message{
		line-height: 20px;
		font-size:0.60em;
	}
}

